# Зависимости
node_modules/

# Переменные 
.env
.env.local
.env.*.local
!.env.example

# Логи
logs/
*.log
npm-debug.log*

# ОС
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.temp

# Загрузки
public/uploads/avatars/*
!public/uploads/avatars/.gitkeep
public/uploads/messages/*
!public/uploads/messages/.gitkeep
